<html>
<head>
  <title>Epic Energy Services</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<div class="header-menu">Epic Energy Services Home Page</div>
<div class="container-menu">
  <div class="item-menu"><a href="/comuni/mostraelenco">Elenco Comuni</a></div>
  <div class="item-menu"><a href="/province/mostraelenco">Elenco Province</a></div>
</div>
<div class="footer">Powered by Epicode School</div>
</body>
</html>